.main {
  max-width: 73.6rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.header {
  margin-top: -2.7rem;
  display: flex;
  gap: 0.8rem;
  width: 100%;
}

.containerList {
  margin-top: 6.4rem;
}

.containerList > header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 2.4rem;
}

.headerContent {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.headerContent:first-child .titleHeaderContent {
  color: var(--blue-600);
}

.headerContent .titleHeaderContent {
  color: var(--purple-600);
}

.counterHeaderContent {
  background: var(--gray-400);
  color: var(--gray-200);
  padding: 0.4rem 1.2rem;
  border-radius: 1.8rem;
  font-size: 1.8rem;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
